/*
Author: Niki Nielsen.
Date: 02|12|2024
File Name: styles.css
bioSite project.
*/

/* CSS reset */
body,
header,
nav,
main,
footer,
h1,
h3,
div,
img,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style Rules for Body and Images. */
body {
  background-color: rgb(236, 195, 167);
  font-family: "Cormorant", serif;
}

img {
  max-width: 100%;
  display: block;
}

/* Mobile - Style Rules for Viewport. */
/* Mobile - Style Rules to Show Mobile Class, Hide Tablet-Desktop Class */
.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

/* Mobile - Style Rules for Header Area. */
.mobile h1 {
  padding: 2%;
  text-decoration: none;
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 1.6em;
  color: rgb(39, 16, 16);
}

.mobile h3 {
  font-family: "Phudu", sans-serif;
  font-size: 1.5em;
  color: rgb(51, 24, 18);
  text-align: center;
}

/* Style Rules for Navigation Area. */
nav {
  background-color: rgb(236, 195, 167);
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  margin: 20px;
  font-size: 1.25em;
  font-family: "Cutive Mono", monospace, serif;
  border-top: 1px dotted rgb(100, 65, 51);
}

nav li a {
  display: block;
  color: rgb(51, 24, 18);
  padding: 1em 1em;
  text-decoration: none;
  font-weight: bold;
}

/* Link Action: Change Box Color and Font Weight on Hover */
nav li a:hover {
  background-color: rgb(177, 80, 80);
  color: rgb(255, 242, 222);
  font-weight: normal;
  font-style: italic;
}

/* Style Rules for Main Content Area */
header {
  padding: 0 auto;
  display: inline-flex;
  max-width: fit-content;
}

.header_img {
  width: auto;
  height: auto;
}

main {
  padding: 1%;
  background-color: rgb(255, 242, 222);
  font-family: "Cormorant", serif;
  font-size: 1.25em;
  line-height: 1.5em;
  color: rgb(39, 16, 16);
  border-top: 2px dotted rgb(51, 24, 18);
}

main p {
  font-size: 1.25em;
}

main ul {
  list-style-type: square;
}

main h1 {
  font-family: "Phudu", sans-serif;
  font-size: 2em;
  line-height: 1em;
  color: rgb(39, 16, 16);
}

main h2 {
  font-family: "Phudu", sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  color: rgb(55, 29, 40);
}

main h3 {
  font-family: "Phudu", sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: rgb(55, 29, 40);
}

.round {
  border-radius: 15px;
}

figure {
  border-bottom: 2px dotted rgb(255, 187, 85);
  border-radius: 15px;
  max-width: 400px;
  margin: 2% auto;
  align-items: flex-start;
}

figcaption {
  padding: 2%;
  font-family: "Cutive Mono", sans-serif;
  font-size: 1em;
  line-height: 1.15em;
  text-align: center;
  border-top: 2px solid rgb(255, 187, 85);
  border-radius: 15px;
}

/* Style Rules for Footer Area */
footer {
  text-align: center;
  font-size: 1em;
  border-top: 2px dotted rgb(39, 16, 16);
  background-color: rgb(236, 195, 167);
  color: rgb(39, 16, 16);
  padding: 0.5% 0%;
}

/* Tablet Viewport: Style rules for Navigation */

nav {
  padding: 0.5%;
}

nav ul {
  text-align: justify;
}

nav li {
  border-top: none;
  display: inline-block;
  background-color: rgb(236, 195, 167);
}

nav li:last-child {
  border-top: none;
}

nav li a {
  padding: 0.25em 0.5em;
}

.grid {
  display: grid;
  align-content: flex-start;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
  /* Tablet Viewport: Show Tablet-Desktop class, Hide Mobile class.*/
  .tablet-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header_img {
    display: none;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1020px), print {
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }

  /* Desktop Viewport: Style rules for main content */
  main {
    clear: right;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  #container {
    width: 1980px;
    margin: 0 auto;
  }

  /* Desktop Viewport: Style Rules for Nav area */
  nav {
    float: right;
    width: 80%;
    margin: 1em 0;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    border: none;
  }

  nav li a {
    padding: 0.5em 1em;
  }

  nav li a:hover {
    color: rgb(255, 242, 222);
    background-color: rgb(177, 80, 80);
  }
}

/*Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  #container {
    display: inline-block;
    width: 1920px;
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
