/*
Author: Niki Nielsen.
Date: 02|12|2024
File Name: styles.css
bioSite project.
*/

/* CSS reset */
body,
header,
nav,
main,
footer,
h1,
h2,
h3,
ul,
li,
figure,
figcaption,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style Rules for Body and Images. */
body {
  background-color: rgb(236, 195, 167);
  font-family: "Cutive Mono", serif;
}

img {
  max-width: 100%;
  display: block;
}

/* Mobile Style Rules */
.mobile h1 {
  padding: 2%;
  text-align: center;
  font-family: "Phudu", sans-serif;
  text-decoration: none;
}

.mobile h3 {
  padding: 2%;
  text-align: center;
  font-family: "Phudu", sans-serif;
  font-style: normal;
  text-decoration: none;
}

/* Style Rules for Navigation Area. */
nav {
  background-color: rgb(236, 195, 167);
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  margin: 25px;
  font-size: 1.5em;
  font-family: "Cutive Mono", monospace, serif;
  font-weight: normal;
  display: inline-block;
  border-top: 1px dotted rgb(100, 65, 51);
}

nav li:first-child {
  border-top: none;
}

nav li a {
  color: rgb(51, 24, 18);
  padding: 1em 1em;
  text-decoration: none;
  font-weight: bold;
}

/* Link Action: Change Box Color and Font Weight on Hover */
nav li a:hover {
  background-color: rgb(54, 3, 3);
  color: rgb(255, 242, 222);
  font-weight: normal;
  font-style: italic;
}

/* Style Rule - Show Mobile Class, Hide Tablet-Desktop Class */
.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

/* Style Rules for Main Content Area */
.header_img {
  width: auto;
  height: auto;
}

main {
  padding: 3%;
  background-color: rgb(255, 242, 222);
  font-size: 1.25em;
  line-height: 1.5em;
  color: rgb(20, 1, 1);
  border-top: 2px dotted rgb(51, 24, 18);
}

main p {
  font-size: 1.25em;
}

main h1 {
  font-family: "Phudu", sans-serif;
  font-size: 2em;
  line-height: 1em;
  color: rgb(39, 16, 16);
}

main h2 {
  font-family: "Phudu", sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  color: rgb(55, 29, 40);
}

main h3 {
  font-family: "Phudu", sans-serif;
  font-size: 1.25em;
  line-height: 1em;
  text-align: center;
  color: rgb(55, 29, 40);
}

main ul {
  list-style-type: none;
}

.fastfacts {
  text-align: left;
  margin: 4%;
}
.mobile ul {
  list-style-type: disc;
}

.external-link {
  color: rgb(121, 12, 12);
  font-weight: bold;
  text-shadow: 5px 5px 8px rgb(255, 213, 150);
}

.round {
  border-radius: 15px;
}

.piebk {
  display: block;
  margin: 5%;
  padding: 3%;
  background-color: rgba(233, 157, 134, 0.281);
  font-family: "Cutive Mono", serif;
  color: #000;
  border: 4px double rgb(255, 187, 85);
}

.request {
  margin: 2%;
  padding: 2%;
  align-items: center;
}

.pies {
  float: right;
  border-radius: 20px;
}

.frame {
  display: block;
  background-color: rgb(20, 1, 1);
  padding: 40px;
  margin: 10%;
  align-content: center;
  border: 1px solid rgb(255, 187, 85);
}

#kitchenpies,
#kitschnwitchco {
  margin: 10% 10%;
  display: block;
  align-items: center;
}

#facts {
  margin: 4%;
  padding: 5%;
  display: block;
  background-color: rgba(233, 157, 134, 0.281);
  border: 4px double rgb(255, 187, 85);
}

#facts p {
  padding: 2%;
  font-family: "Cutive Mono", serif;
  font-size: 1.1em;
  color: #000;
  text-align: justify;
}

a {
  text-decoration: none;
}

/* Style Rules for Form Elements */
fieldset,
input,
select {
  margin-bottom: 2%;
}
fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 1%;
}

#form {
  margin-top: 1%;
  padding: 4%;
}

#form img {
  align-items: right;
}

#info {
  margin: 2%;
  padding: 5%;
  background-color: rgba(233, 157, 134, 0.281);
  align-items: justify;
}

.row {
  padding: 2%;
  margin: 2%;
  display: block;
  background-color: rgba(255, 213, 150, 0.3);
}

.row p {
  font-size: 1.15em;
  text-align: left;
}

.row img {
  margin: 0 auto;
  align-items: center;
}

/* Style Rules for Figure Elements */
figure {
  /* Style of Border is Partial */
  border-bottom: 2px dotted rgb(255, 187, 85);
  border-radius: 15px;
  max-width: 425px;
  margin: 10% 2%;
  align-items: center;
}

figcaption {
  /* Style of Border is Partial */
  padding: 2%;
  font-family: "Cutive Mono", serif;
  font-size: 1em;
  line-height: 1.15em;
  text-align: center;
  border-top: 3px solid rgb(255, 187, 85);
  border-radius: 15px;
}

/* Style Rules for Footer Area */
footer {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 1.3em;
  background-color: rgb(250, 176, 134);
  color: rgb(39, 16, 16);
  padding: 0.5% 0%;
}

/* Media Query for Mobile Viewport to hide header img */
@media screen and (max-width: 619px), print {
  .header_img {
    display: none;
  }

  .header_img_index {
    display: none;
  }
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
  /* Tablet Viewport: Show Tablet-Desktop class, Hide Mobile class.*/
  .tablet-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  nav li a {
    /* Reset Nav Width */
    width: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: auto;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1020px), print {
  header {
    float: left;
    padding-bottom: 0;
  }

  /* Desktop Viewport: Style rules for main content */
  main {
    clear: right;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }

  /* Desktop Viewport: Style Rules for Nav area */
  nav {
    float: right;
    width: 80%;
    margin: 1em 0;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    border: none;
  }

  nav li a {
    padding: 0.5em 1em;
  }

  nav li a:hover {
    color: rgb(255, 242, 222);
    background-color: rgb(54, 3, 3);
  }
}

/*Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  body {
    background: linear-gradient(#fff2de, #fab086);
  }

  #container {
    width: 1920px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
